{%load static%}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="{%static 'style.css' %}" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap"
      rel="stylesheet"
    />

    <title>Book Order</title>
  </head>
  <body>
    <header>
      <h1>Book Order - Customer Screen</h1>
      <form method="POST" action="user">
        {%csrf_token%}
        <label>Search Stock</label>
        <select name="Search_Stock">
          <option>DBS_1</option>
          <option>DBS_2</option>
          <option>DBS_3</option>
          <option>DBS_4</option>
          <option>DBS_5</option>
        </select>
        <label>Order Type</label>
        <select name="Order_Type" class="select">
          <option>Market</option>
          <option>limit</option>
        </select>
        <label>Price</label>
        <input type="number" class="price" name="price" disabled="disabled" />
        <label>Quantity</label>
        <input type="number" name="Quantity" />
        <input type="submit" class="submit" value="submit" />
      </form>
    </header>
    <script src="{%static 'user.js' %}"></script>
    <div>
      {%for message in meassages %}
        <B>{{message}}</B>
      {% endfor %}
    </div>
  </body>
</html>
